pipeline/PL_MySQL2Blob.json
{
	"name": "PL_MySQL2Blob",
	"properties": {
		"activities": [
			{
				"name": "Lookup_MySQL_Tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "MySqlSource",
						"query": "SELECT table_name AS TABLE_NAME\nFROM information_schema.tables\nWHERE table_schema = 'adventureworksdb'"
					},
					"dataset": {
						"referenceName": "DS_MySQL_Lookup",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_MySQL_tables",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_MySQL_Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_MySQL_Tables').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data_MySQL2Blob",
							"description": "This copy data activity copies data form MySQL to Azure Blob Storage.",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "MySqlSource",
									"query": "@{concat('SELECT * FROM ', item().TABLE_NAME)}"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_MySQL_Copy_Activity",
									"type": "DatasetReference",
									"parameters": {
										"tablename": {
											"value": "@item().TABLE_NAME",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_Sink_Blob_Parameterized",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@{concat(item().TABLE_NAME,'.csv')}",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}